body{
  margin: 0;
}
#root
{
  min-height: 100vh;
  background-image: linear-gradient(to top,rgb(222, 39, 254),rgb(52, 6, 136));
}
.App
{
  max-width: 650px;
  margin: auto;
  box-sizing: border-box;
  padding:20px;
  font-family: sans-serif;
  user-select:none;
  transition:all .5s;
}